.header {
  height: 56px;
  z-index: 5;
  background-color: var(--bg-opacity);
  backdrop-filter: blur(25px) saturate(150%) brightness(1.1);
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  transition: transform 0.5s, backdrop-filter 0.5s;
}
.header-logo {
  padding: 0.5em;
  display: inline-block;
}

.more-button {
  top: 50%;
  transform: translateY(-50%);
  padding: 6px;
}
.link-group {
  a {
    color: inherit;
  }
  .anchor-ball {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: currentColor;
    transition: left 0.5s ease-in-out, opacity 0.3s, background-color 0.3s;
    bottom: 8px;
    opacity: 0.3;
  }
  &:hover .anchor-ball {
    opacity: 1;
    background-color: var(--yellow);
  }
}
.link-item {
}

.nav-container {
  height: 4rem;

  & > .head-swiper {
    transition: transform 0.5s;
  }
  &.toggle {
    & > .head-swiper {
      transform: translateY(-100%);
    }

    .head-info {
      .desc {
        position: relative;
        overflow: hidden;
        > div {
          position: relative;
          animation: swipe-up 1s ease-in-out forwards;
          bottom: -5rem;
        }
        > div:nth-child(1) {
          opacity: 0;
          animation-delay: 0.2s;
        }

        > div:nth-child(2) {
          opacity: 0.5;
          animation-duration: 0.6s;
          animation-timing-function: ease;
        }
      }

      @keyframes swipe-up {
        to {
          opacity: 1;
          bottom: 0;
        }
      }
    }
  }
}
.head-info {
  height: 4rem;
  display: flex;
  align-items: center;

  .meta {
    color: var(--gray);
    font-size: 0.8rem;
  }
  .title {
    font-weight: 500;
    margin: 0;
    color: var(--black);
    font-size: 1.2rem;
    line-height: 1.5;
  }
}
.site-info {
  color: #aaa;
}

.swiper-metawrapper {
  max-width: 65em;
  margin: auto;
}
