.header {
  @apply fixed top-0 left-0 right-0;
}

.head-swiper {
  @apply relative flex items-center;

  height: 4rem;
}

@screen phone {
  .head-info {
    display: none;
  }
}

.title {
  @apply relative inline-block text-xl font-medium mt-0 ml-4;
}

.more-button {
  @apply invisible hidden;
}

@screen phone {
  .more-button {
    @apply absolute right-0 visible block cursor-pointer py-4 pl-4;
  }
}

.nav-container {
  height: 4rem;

  @apply mx-20 relative overflow-hidden;
}

.header-logo svg {
  height: 2rem;
}

@screen phone {
  .header nav {
    @apply mx-4;
  }

  .title {
    @apply ml-1;
  }
}
.link-group {
  @apply relative inline-flex items-center;

  height: 4rem;

  & .anchor-ball {
    @apply absolute left-0;
  }
}

@screen phone {
  .link-group {
    @apply hidden;
  }
}

.link-item {
  @apply inline-flex items-center px-4 cursor-pointer;

  height: 4rem;
}

.link-title {
  @apply ml-3;
}

.drawer {
  @apply fixed z-90 top-0 bottom-0 right-0 bg-light-bg;
  @apply transition-transform duration-300 p-6 text-light-brown;

  width: 300px;
  max-width: 80vw;
  transform: translateX(100%);

  &.show {
    transform: translateX(0);
  }

  & a {
    color: inherit;
  }

  & .parent,
  & .children {
    @apply py-2;
  }

  & .parent {
    @apply font-medium;
    @apply text-xl;
  }
  & .children-wrapper {
    @apply grid;

    grid-template-columns: 1fr 1fr;
  }
  svg {
    @apply mr-4;
  }
}

.link-section {
  @apply mb-4;
}
.nav-fake {
  @apply overflow-visible;
}
