.root {
  text-align: center;

  :global {
    a {
      color: inherit;
      display: block;
      transition: transform 0.5s cubic-bezier(0.36, 1.1, 0.2, 1.2);
    }

    a:hover {
      transform: translateY(-0.5em);
    }

    h3,
    h4 {
      margin-top: 1rem;
    }

    .project-icon,
    img {
      border-radius: 30%;
      transition: box-shadow 0.3s;
      aspect-ratio: 1 / 1;
    }

    a:hover .project-icon,
    img {
      box-shadow: 0 0 10px rgb(0 0 0 / 10%), 0 5px 20px rgb(0 0 0 / 20%);
    }
  }
}
