.root {
  text-align: center;

  :global {
    a {
      color: inherit;
      transition: transform 0.5s cubic-bezier(0.36, 1.1, 0.2, 1.2);
    }

    a:hover {
      transform: translateY(-0.5em);
    }

    .project-icon,
    img {
      border-radius: 30%;
      transition: box-shadow 0.3s;
      aspect-ratio: 1 / 1;
    }

    a:hover .project-icon,
    img {
      @apply shadow-out-sm;
    }
  }
}
