.player.hide {
  transform: translateX(-100%);
}

.player {
  @apply fixed bottom-[2px] left-0 z-10;

  bottom: calc(2px + env(safe-area-inset-bottom));
  transform: translateX(0);
  transition: transform 0.5s;
}

.root {
  @apply rounded-lg;
}

.cover {
  height: 66px;
  width: 66px;

  @apply bg-gray-4 relative bg-opacity-80;

  & .anime-frame {
    @apply pointer-events-none absolute inset-0 select-none rounded-b-lg rounded-r-lg;
  }

  & .pic,
  & {
    @apply rounded-b-lg rounded-r-lg;
  }
}
/* 
.player.play .cover .anime-frame {
  @apply border-solid border-t border-r border-t-gray-1 border-rt-gray-1 border-opacity-60;

  animation: ripples 5s ease both infinite;

  @screen phone {
    @apply !animate-none;
  }
} */
/* 
.frame {
  & div:nth-child(1) {
    animation-delay: 0s !important;
  }

  & div:nth-child(2) {
    animation-delay: 2.5s !important;
  }
  & div:nth-child(3) {
    animation-delay: 5s !important;
  }
}

@keyframes ripples {
  0% {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;

    @apply rounded-r-lg rounded-b-lg;
  }

  60% {
    left: -50px;
    top: -50px;
    right: -50px;
    bottom: -50px;

    opacity: 0.4;

    border-radius: 40%;
  }

  80% {
    left: -50px;
    top: -50px;
    right: -50px;
    bottom: -50px;

    opacity: 0.1;
    border-radius: 50%;
  }

  to {
    left: -50px;
    top: -50px;
    right: -50px;
    bottom: -50px;

    opacity: 0;
    border-radius: 50%;
    transform: scale(1.2);
  }
} */

.control-btn {
  @apply absolute bottom-0 left-0 right-0 top-0 z-10 text-white;
  @apply cursor-pointer shadow-lg transition-all;

  font-size: 35px;

  & > svg {
    @apply absolute -translate-x-1/2 -translate-y-1/2 transform shadow-2xl transition-all duration-500;

    top: 50%;
    left: 50%;
    filter: drop-shadow(0 0 6px black);
  }
}

.player.play .control-btn {
  font-size: 24px;

  @apply items-end justify-end;

  & > svg {
    top: calc(80%);
    left: calc(80%);
  }
}

.cover:hover + .tip,
.tip:hover {
  @apply visible opacity-100;
}

.tip {
  @apply absolute bottom-0 top-0 truncate whitespace-nowrap;
  @apply flex cursor-pointer flex-col justify-around py-3;
  @apply invisible opacity-0 transition-all duration-300;

  margin-left: 66px;
  padding-left: 1.5em;
  min-width: 150px;
  max-width: calc(50vw - 66px);

  & > p {
    @apply m-0 leading-6;
  }
}
