.wrap {
  display: block;
  margin: 12px auto;
  text-align: center;
}

.inner-wrap {
  border-radius: 2em;
  padding: 10px 16px;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  display: grid;
  position: relative;
  background-color: var(--shizuku-background-color);
  display: inline-flex;
  align-items: center;
  animation: fade-small-large 0.3s both;
  .icon {
    display: inline;
  }
  .message {
    display: inline-block;
    color: var(--shizuku-text-color);
    padding-left: 12px;
    white-space: nowrap;
  }

  &.appear {
    animation: fade-small-large 0.3s both;
  }

  &.disappear {
    animation: fade-large-small 0.3s both;
  }
}

.container {
  position: fixed;
  right: 0;
  top: 8px;
  left: 0;
  z-index: 999;
  user-select: none;
  pointer-events: none;
}

@media (max-width: 568px) {
  .container {
    top: calc(3.5rem + 8px);
  }
}

.rotate {
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade-small-large {
  from {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes fade-large-small {
  from {
    opacity: 1;
    transform: scale(1, 1);
  }
  to {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
}
