{
  "env": {
    "development": {
      "presets": [
        "next/babel"
      ]
    },
    "production": {
      "presets": [
        "next/babel"
      ]
    }
  },
  "plugins": [
    "lodash"
  ],
  "presets": [
    "next/babel"
  ]
  // "presets": [
  //   [
  //     "next/babel",
  //     {
  //       "preset-env": {},
  //       "transform-runtime": {},
  //       "styled-jsx": {},
  //       "class-properties": {},
  //       "module": false,
  //       "targets": {
  //         "chrome": "78",
  //         "safari": "14"
  //       }
  //     }
  //   ]
  // ]
}