@function pxToRem($px) {
  @return $px / 14px * 1rem;
}
.timeline-wrap {
  position: relative;

  //   li:first-child::before {
  //     border-left: 0;
  //   }
  > div li::before {
    content: '';
    position: absolute;

    left: pxToRem(-15px);
    bottom: 0;
    border-left: 1px solid var(--yellow);
  }
  > div:not(:first-child):not(:last-child) li::before {
    top: 0;
  }
  > div:first-child li::before {
    top: 50%;
  }
  > div:last-child li::before {
    bottom: 50%;
    top: 0;
  }
  li {
    position: relative;
    list-style-type: none;
    color: var(--yellow);
  }
  li::after {
    content: '';
    left: pxToRem(-18px);
    top: 50%;
    transform: translateY(-50%);
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    position: absolute;
    background-color: var(--yellow);
  }
}
