.author {
  @apply flex flex-wrap relative justify-between;
}

.kami-say {
  @apply flex w-full w-auto;

  > div {
    @apply ml-4;
  }
}

.kami-say blockquote {
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  background: rgb(52 152 219 / 5%);
}

.kami-say .author {
  opacity: 0.6;
  font-size: 0.85em;
  text-align: right;
  font-style: italic;
}
