.kami-music {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3em;
  .sticky-cover {
    position: sticky;
    top: 5rem;
  }
  * {
    font-size: 16px;
  }
}

.kami-music.active .music-list {
  max-height: 100%;
}
.music-cover {
  flex: 0 0 10em;
  margin-right: 2em;
  text-align: center;
  position: relative;
}
.music-cover img {
  cursor: pointer;
  border-radius: 66%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.music-cover img:active {
  transform: scale(0.9);
}
.music-cover h3 {
  margin-top: 1em;
}
.music-cover .fixed-cover {
  margin: auto;
  max-width: 10em;
}
.music-cover .fixed-cover.fixed {
  top: 7em;
  position: fixed;
}
.music-cover .fixed-cover.bottom {
  bottom: 0;
  position: absolute;
}
.music-list {
  flex: 1 1 20em;
  overflow: hidden;
  max-height: 30em;
}
.music-list time {
  float: right;
}
.music-list li {
  cursor: pointer;
  overflow: hidden;
  padding: 0.75em 1em;
  border-radius: 0.5em;
  transition: background 0.3s;
}
.music-list li:hover {
  background: rgba(0, 0, 0, 0.1);
}
.music-list .num {
  opacity: 0.6;
  margin-right: 0.75em;
}
.music-list .num:after {
  content: '.';
}
@media screen and (max-width: 600px) {
  .music-cover {
    flex: 1 1 100%;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 1em;
  }
}
