.footer {
  @apply z-1 transform-gpu;

  a:hover {
    color: theme(colors.accent);
  }

  p {
    @apply my-2 leading-7;
  }

  :global {
    @media screen and (max-width: 600px) {
      footer::before {
        background-size: 160%;
      }
    }
  }

  & {
    color: #fff;
    color: var(--light-font);
    position: relative;
    padding: 10vw 0 2em;
  }

  &::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    z-index: -1;
    position: absolute;
    background: top/center;
  }

  @media screen and (max-width: 600px) {
    & {
      padding: 5em 0 2em;
    }

    &::before {
      background-size: 170%;
    }
  }

  & a:not(:hover) {
    color: inherit;
  }
}

:global(html.dark) .footer::before {
  filter: brightness(0.6) !important;
}

.wrap {
  margin: 0 auto;
  max-width: 75em;
  padding: 0 1.25em;
  box-sizing: content-box;

  @apply grid grid-cols-1 sm:grid-cols-2;

  :global {
    .to-center {
      @apply justify-center;
    }

    .left {
      @apply flex flex-col items-center sm:items-start;
    }

    .right {
      @apply flex flex-col items-center sm:items-end;
    }
  }
}
