.input-wrap {
  position: relative;
  width: 100%;
  font-size: max(16px, 1rem);
  padding: 4px 11px;
  border: 1px solid var(--gray);
  display: inline-flex;
  align-items: center;
  color: var(--shizuku-text-color);
  background-color: transparent;

  &:hover {
    border-color: var(--yellow);
    border-right-width: 1px !important;
    transition: 0.3s;
  }

  svg {
    width: 1em;
    height: 1em;
    margin: 0;
    padding: 0;
    vertical-align: unset;
    overflow: visible;
  }

  .rect {
    transition: 0.5s;
    shape-rendering: crispEdges;
    stroke: var(--yellow);
    stroke-width: 1.5px;
    fill: transparent;
    stroke-dashoffset: 0;
  }

  .border {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    pointer-events: none;
  }

  .input {
    border-radius: 4px;
    width: 100%;
    border: 0;
    display: flex;
    align-items: center;
    color: inherit;
    background-color: transparent;
    vertical-align: middle;
  }

  input {
    font-size: max(1rem, 16px);
  }

  .prefix-wrap {
    position: relative;
    margin-right: 4px;
    display: inline-block;
  }

  textarea {
    display: block;
    overflow: auto;
    resize: none;
    line-height: 1.8;
  }
}
