.pager {
  width: 100%;
  position: relative;
  margin: 12px 0;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  font-size: 16px;

  .input {
    width: 2rem;
    margin-right: 4px;
    border-radius: unset;
    border: 1px solid transparent;
    padding: 0;
    transition: border 0.5s;
    transform: translateY(0px);

    &:hover {
      border: 1px solid var(--yellow);
    }
  }
}

.icon {
  margin: 0 4px;
  cursor: pointer;
  display: inline;
  height: 20px;
  width: 20px;
  padding: 6px;

  @apply box-content rounded-xl;

  transition: background-color 0.5s;
  color: var(--black);

  &:hover {
    background: var(--yellow);
    color: var(--white);
  }
}

.nav {
  margin: 0 12px;
  display: inline-flex;
  align-items: center;
}
