.recorder {
  height: 1em;
  overflow: hidden;
  position: relative;
  display: inline-block;
  transition: all 0.5s;
  .numbers {
    span {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      white-space: nowrap;
      font-variant-numeric: tabular-nums;
    }
    position: absolute;
    top: 0;
    transform: translateY(-1em);
    transition: transform 0.5s;
    line-height: 1;
    // left: 0;
    display: flex;
    flex-direction: column;
  }
}
