.timeline-wrap {
  position: relative;

  & > div li::before {
    content: "";
    position: absolute;
    left: -1.05rem;
    bottom: 0;
    border-left: 1px solid var(--yellow);
  }

  & > div:first-child:last-child li::before {
    border-left: 0;
  }

  & > div:not(:first-child):not(:last-child) li::before {
    top: 0;
  }

  & > div:first-child li::before {
    top: 50%;
  }

  & > div:last-child li::before {
    bottom: 50%;
    top: 0;
  }

  li {
    position: relative;
    list-style-type: none;
    color: var(--yellow);
  }

  li::after {
    content: "";
    left: -1.28rem;
    top: 50%;
    transform: translateY(-50%);
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    position: absolute;
    background-color: var(--yellow);
  }
}

h1 .count {
  opacity: 0;
  visibility: hidden;
  font-size: 12px;
  margin-left: 12px;
  transition: opacity 0.3s, visibility 0.3s;
  color: var(--shizuku-text-color);
}

h1:hover .count {
  opacity: 0.8;
  visibility: visible;
}
