.wrap {
  margin-top: 2.5rem;
}

.comment-box-head {
  margin: 24px 0;
  display: flex;
  > *:not(:last-child) {
    margin-right: 12px;
  }
}
@media (max-width: 700px) {
  .comment-box-head {
    display: block;
    > * {
      margin-bottom: 14px;
    }
  }
}
