.wrap {
  margin-top: 2.5rem;
}

.comment-box-head {
  margin: 24px 0;
  display: flex;
  > *:not(:last-child) {
    margin-right: 12px;
  }
}

.comment {
  font-size: 14px;
}

@media (max-width: 700px) {
  .comment-box-head {
    display: block;
    > * {
      margin-bottom: 14px;
    }
  }
}

.loading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 400px;
  flex-direction: column;
}

.comment-at {
  margin-right: 12px;
}

.guest-avatar {
  height: 39.6px;
  width: 39.8px;
  position: relative;
  border-radius: 50%;
  box-shadow: 4px 3px 20px -1px var(--gray);
  overflow: hidden;
  .avatar {
    position: absolute;
    left: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    transition: opacity 0.5s;
    opacity: 0;
  }
}
