.wrap {
  margin-top: 2.5rem;
}

.comment-box-head {
  margin: 24px 0;
  display: flex;
  > *:not(:last-child) {
    margin-right: 12px;
  }
}

.comment {
  font-size: 14px;
}

@media (max-width: 700px) {
  .comment-box-head {
    display: block;
    > * {
      margin-bottom: 14px;
    }
  }
}

.loading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 400px;
  flex-direction: column;
}

.comment-at {
  margin-right: 12px;
}
