.image-container.open {
  cursor: zoom-out;
}

.shade {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 0;
  background: rgba(0, 0, 0, 0.9);
}

.shade {
  pointer-events: auto;
  opacity: 1;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.image-container.open img {
  position: fixed;
  width: auto;
  height: auto;
  max-width: 100%;
  margin: auto;
}
