.a-pointer {
  cursor: pointer;
}
.active {
  span {
    margin-left: 8px;
  }
}
.toc-link {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: var(--light-brown) !important;
  opacity: 0.8;
}
