@for $var from 1 to 6 {
  h#{$var} {
    margin-top: 1rem;
  }
}
.avatar-wrap {
  position: relative;
  z-index: 0;
}
.avatar-shadow {
  position: absolute;
  border-radius: 100%;
  // width: 200px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  // height: 200px;
  background: var(--bg) no-repeat center/cover;
  display: inline-block;

  &::after {
    position: absolute;
    left: 0;
    top: 10%;
    z-index: -1;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(10px) brightness(80%) opacity(0.8);
    content: '';
    transform: scale(0.95);
  }
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --shizuku-background-color: #212121;
    --shizuku-text-color: #858585;
    --shizuku-theme-color: #3c946c;
  }
  blockquote {
    background: rgba($color: var(--shizuku-background-color), $alpha: 0.5);
    border-left: 5px solid var(--shizuku-theme-color);
  }
  article {
    color: var(--shizuku-text-color);
  }
}

html {
  font-size: 14px;
}

input[type*='date'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
select,
textarea {
  min-height: unset;
}

@media (max-width: 600px) {
  .head-menu a {
    display: inline-block;
  }
}
img,
svg,
audio,
video,
iframe {
  vertical-align: unset;
}

pre,
code {
  font-family: JetBrains Mono, Operator Mono, Monaco, Consolas, 'Courier New',
    Courier, monospace !important;
}
p {
  margin: 0.5rem 0;
}
.ant-comment-actions {
  margin-left: 0;
}
.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  background: none;
}
