@import '~@openfonts/noto-sans-sc_vietnamese';
@import '~antd/es/comment/style/index.css';
@import '~antd/es/message/style/index.css';

@import '~rc-texty/assets/index.css';

@import '~kico-style';
@import './theme.scss';
@import './extra.scss';
@import './shizuku.scss';
@import './tailwind.scss';
