.root {
  @apply phone:max-w-[100vw] phone:max-h-[80vh] phone:rounded-none phone:h-screen h-[600px] max-h-[60vh] w-[800px] max-w-[80vw];
  @apply bg-bg-opacity min-h-50 flex flex-col overflow-hidden rounded-xl text-[--black] shadow-lg;

  backdrop-filter: blur(20px) saturate(180%);
}

.item {
  @apply flex overflow-hidden py-4 !text-[inherit];
  @apply w-full justify-between;
  @apply z-1 relative px-2;

  &::before {
    content: '';
    position: absolute;

    @apply -z-1 inset-0 rounded-md bg-transparent opacity-30 transition transition-colors;
  }

  &:hover,
  &.active {
    &::before {
      @apply bg-gray-4;
    }
  }
}

.status-bar {
  @apply bg-gray-4 scale-y-80 z-1 relative h-[1px] w-full flex-shrink-0 transform;

  &.loading::before {
    @apply scale-y-80 z-1 absolute bottom-0 left-0 top-0 w-[500px] transform;
    @apply bg-repeat;

    content: '';
    background: linear-gradient(
      90deg,
      transparent,
      rgba(176, 175, 175, 1),
      transparent
    );
    animation: move 2s steps(60) infinite;
  }
}

@keyframes move {
  from {
    transform: translateX(-200px);
  }
  50% {
    transform: translateX(calc(100% + 500px + 200px));
  }
  to {
    transform: translateX(-200px);
  }
}
