.root {
  @apply w-[800px] max-w-[80vw] max-h-[60vh] h-[600px];
  @apply bg-bg-opacity shadow-lg min-h-50 rounded-xl flex flex-col overflow-hidden text-[--black];

  backdrop-filter: blur(20px) saturate(180%);
}

.item {
  @apply flex py-4 !text-[inherit] overflow-hidden;
  @apply w-full justify-between;
  @apply px-2 relative z-1;

  &::before {
    content: '';
    position: absolute;

    @apply inset-0 rounded-md -z-1 bg-transparent transition transition-colors opacity-30;
  }

  &:hover,
  &.active {
    &::before {
      @apply bg-gray;
    }
  }
}

.status-bar {
  @apply w-full h-[1px] bg-gray transform scale-y-80 relative z-1 flex-shrink-0;

  &.loading::before {
    @apply top-0 bottom-0 left-0 w-[500px] transform scale-y-80 absolute z-1;
    @apply bg-repeat;

    content: '';
    background: linear-gradient(
      90deg,
      transparent,
      rgba(176, 175, 175, 1),
      transparent
    );
    animation: move 2s steps(60) infinite;
  }
}

@keyframes move {
  from {
    transform: translateX(-200px);
  }
  50% {
    transform: translateX(calc(100% + 500px + 200px));
  }
  to {
    transform: translateX(-200px);
  }
}
