.wrapper {
  position: fixed;
  right: 52px;
  bottom: 12px;
  height: 25rem;
  width: 20rem;
  background: var(--light-bg);
  z-index: 10;
  display: flex;
  flex-direction: column;

  .header {
    border-bottom: 1px solid var(--yellow);
    flex: 0;
    line-height: 2;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
  }

  .container {
    flex-grow: 1;
    flex-shrink: 1;
    margin: 10px;
    padding: 8px;
    overflow: auto;
    position: relative;
  }

  .footer {
    margin: 0 10px;
    display: grid;
    grid-template-columns: auto 6rem;
    grid-gap: 6px;
  }

  .text,
  .container {
    border: 1px solid var(--gray);
  }

  .text {
    padding: 0 1em;
    width: 100%;
    background-color: var(--light-bg);
    color: var(--shizuku-text-color);
  }

  @apply shadow shadow-light-500;

  &,
  .text,
  .container {
    border-radius: 12px;
  }
}
