.message {
  margin: 6px;
  position: relative;
  width: 100%;
  display: grid;

  grid-template-columns: 50px auto;
  font-size: 14px;
  .message-head {
    margin-bottom: 4px;
  }
  time,
  .author-name {
    display: inline-block;
  }
  time {
    font-size: 0.8em;
    padding-left: 12px;
  }
}
.setting {
  position: fixed;
  z-index: 12;
  overflow: hidden;
  width: 250px;
  bottom: 5rem;
  height: 200px;
  border-radius: 24px;
  background-color: Var(--light-bg);
  box-shadow: rgba($color: #000000, $alpha: 0.2) 0px 0px 20px;
  .header {
    border-bottom: 1px solid var(--yellow);
    line-height: 2;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
  }

  section {
    padding: 12px;

    form {
      .item {
        display: grid;
        grid-template-columns: 4rem auto;
        grid-gap: 12px;
        margin: 12px 0;
        > * {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .item:last-child {
        margin-bottom: 0;
      }
      input {
        width: 100%;
      }
    }
  }

  .footer {
    text-align: center;
  }
}
