.message {
  margin: 6px;
  position: relative;
  width: 100%;
  display: grid;

  grid-template-columns: 50px auto;
  font-size: 14px;
  .message-head {
    margin-bottom: 4px;
  }
  time,
  .author-name {
    display: inline-block;
  }
  time {
    font-size: 0.8em;
    padding-left: 12px;
  }
}
