.icon {
  @apply mr-[5px];
}

.root {
  @apply my-2 text-sm;

  a {
    color: inherit;
  }

  & > span {
    cursor: pointer;
    margin-left: 1em;
    position: relative;
  }

  :global {
    .note-inform,
    .note-action {
      color: #888;
      text-align: right;
      user-select: none;
      font-weight: normal;
    }

    .note-inform {
      float: left;
    }

    .note-inform span {
      cursor: pointer;
      margin-right: 1em;
    }

    .note-inform span::before,
    .note-action span::before {
      margin-right: 0.5em;
    }
  }
}
