.notice-darwin {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .box {
    backdrop-filter: saturate(180%) blur(20px);
    background-color: var(--bg-opacity);
    height: 200px;
    width: 200px;
    border-radius: 24px;
    position: relative;

    .icon-wrap {
      height: 80%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .icon {
      font-size: 96px;
    }
  }
}

.mask,
.f-wrap {
  position: fixed;
  pointer-events: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.f-wrap {
  z-index: 99;
}

.mask {
  z-index: -1;
}

.notice-text {
  width: 100%;
  bottom: 0;
  text-align: center;

  span {
    font-size: 18px;
  }
}
