.link {
  display: inline-block;
  position: relative;

  a {
    cursor: alias;
    overflow: hidden;
    position: relative;
    color: var(--primary);
  }

  a::after {
    content: '';
    position: absolute;
    bottom: -1.9px;
    height: 1px;
    background-color: currentColor;
    width: 0;
    transform: translateX(-50%);
    left: 50%;
    text-align: center;
    transition: width 0.5s ease-in-out;
  }

  a:hover::after {
    width: 100%;
  }

  a:hover + .popup {
    transform: translateY(-100%) scale(1);
    visibility: visible;
    opacity: 0.8;
  }

  .popup {
    font-weight: 600;
    word-break: keep-all;
    white-space: nowrap;
    transform-origin: left bottom;
    pointer-events: none;
    user-select: none;
    visibility: hidden;
    transition: all 0.5s;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(0%) scale(0);
    background-color: var(--shizuku-background-color);
    z-index: 2;
    color: var(--shizuku-text-color);
    font-size: 12px;
    padding: 0.5em 1.2em;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
