.head {
  // display: flex;
  position: relative;
  // align-items: center;
  // justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  .title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    white-space: nowrap;
    width: calc(100% - 19rem);
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }
}

.text {
  line-height: 2;
  .title {
    text-align: center;
  }
}
.btn {
  padding: 0.7rem 1rem;
  outline: 0;
  color: #fff;
  border-radius: 4rem;
  animation: gradual-change infinite 3s ease both;
}

@keyframes gradual-change {
  0%,
  100% {
    background: rgba(230, 126, 34, 1);
  }
  50% {
    background: rgba(241, 196, 15, 0.8);
  }
}
.navigator {
  display: block;
  text-align: center;
  margin: 10px 0;
}
