.container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 61;
  &.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .overlay {
    position: absolute;
    top: -20px;
    bottom: -20px;
    right: -20px;
    left: -20px;
    z-index: -1;
    background-color: rgba($color: #000000, $alpha: 0.3);
    // animation: blur-in 1.5s forwards;
  }
}

// @keyframes blur-in {
//   from {
//     backdrop-filter: blur(0);
//   }
//   to {
//     backdrop-filter: blur(4px);
//   }
// }
