.icon {
  position: absolute;
  left: 0.8rem;
  z-index: 1;
}
.avatar-item {
  text-align: center;
  // &:not(:first-child) {
  margin-left: 2rem;

  display: inline-block;
  width: 80px;
  height: 150px;
  // overflow: hidden;
  cursor: pointer;
  user-select: none;
  // }
}
.avatar-name {
  display: inline-block;
  margin-top: 12px;
  width: 80px;
  user-select: none;
  text-overflow: ellipsis;
  overflow: hidden;
}
.friends {
  margin-top: 2rem;
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  user-select: none;
}

.bt {
  position: absolute;
  top: 12px;
  left: 2rem;
  z-index: 3;
}
.mask {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.488) 30%, transparent);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  left: 0;
}
