.avatar {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  .image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 0.6s;
    height: 100%;
    border-radius: 50%;
    width: 100%;
  }
}
.avatar-wrap {
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  border: 3px #bbb solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.32);
}
