:global(html.dark) {
  .bubble-list {
    --bg: #3b82f7;
    --text: #fff;
    --bg-gray: #3a3a3c;
  }
}

.bubble-list {
  @apply relative w-full;

  --bg: #3478f6;
  --text: #fff;
  --bg-gray: #f2f2f7;

  color: var(--text);

  :global(#write) {
    font-size: 1rem !important;
  }

  :global {
    .bubble {
      max-width: 80%;
      word-wrap: break-word;
      margin-bottom: 0.7em;
      padding: 10px 20px;

      .actions {
        @apply absolute right-[-12px] top-0 bottom-0;
        @apply flex items-center transform translate-x-[100%];

        &::after {
          content: '';

          @apply absolute left-[-30px] top-0 bottom-0 w-[8em];

          z-index: -1;
        }

        & > * {
          @apply opacity-0 invisible transition;
        }
      }

      &:hover .actions > * {
        @apply opacity-100 visible transition-opacity;

        &:hover {
          @apply opacity-80;
        }

        &:active {
          @apply opacity-70;
        }
      }

      &.from-me {
        position: relative;
        color: white;
        background: var(--bg);
        border-radius: 25px;
        float: right;

        :global(blockquote) {
          background: #3b82df;
        }

        &::after {
          border-color: var(--bg);
          border-radius: 50%;
          border-style: solid;
          border-width: 0 20px;
          bottom: 0;
          clip-path: inset(24px 34px 0 0);
          height: 48px;
          position: absolute;
          left: 100%;
          margin-left: -20px;
          width: 60px;
          content: '';
        }
      }

      &.from-them {
        position: relative;
        background: var(--bg-gray);
        border-radius: 25px;
        color: var(--black);
        float: left;
      }
    }
  }
}

.md:global(> blockquote) {
  border-radius: 13px;
}
