@import './variables.css';
@import './theme.css';
@import './extra.css';
@import './shizuku.css';
@import './mono.css';

@layer base {
  .overflow-overlay {
    @apply overflow-auto;

    overflow: overlay;
  }
}

.ease-linear {
  animation-timing-function: steps(60) !important;
  transition-timing-function: steps(60) !important;
}
