.recently-wrapper {
  margin-bottom: 1.5rem;
  padding: 1rem 2rem;
  background-color: var(--bg-opacity);
  border-radius: 8px;
  backdrop-filter: blur(5px);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  &:hover {
    .del {
      opacity: 1;
    }
  }
}
