.modal {
  @apply bg-bg-opacity max-w-65vw max-h-70vh phone:max-w-95vw min-h-8 min-w-30 rounded-lg block overflow-hidden shadow-md relative;

  backdrop-filter: blur(20px) saturate(180%);

  &.no-blur {
    @apply bg-light-bg;

    backdrop-filter: none;
  }
}

.modal.drawer {
  @apply !max-w-screen !w-full !max-h-90vh !w-screen;

  border-radius: 12px 12px 0 0;
}

.close-btn {
  @apply absolute h-16 top-0 right-0 w-16 flex items-center justify-center;
}

.title-wrapper {
  @apply h-16 px-6 relative box-content inline-flex items-center;

  > h4 {
    @apply font-medium text-lg m-0;
  }
}

.content {
  @apply p-6;

  &.has-title {
    @apply -mt-5;
  }
}
